/*

*/

.content {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
}

.search-group input {
    display: inline;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.result input[type=text]:disabled {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    color: #000;
}

.result {
    margin-left: 5%;
    display: inline-block;
    width: 39%;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    height: 270px;
    margin-top: 50px;
}

.id {
    height: auto;
    width: auto;
    color: #000;
    text-align: center;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
}

.inputbox:hover {
    cursor: pointer;
}