@import url('https://fonts.googleapis.com/css?family=Istok+Web');
* {
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

body {
    opacity: 0.85;
    font-size: 120%;
    background: url(atoom2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

div.sidebar {
    position: fixed;
    height: 100%;
    width: 15%;
    background: #5f9ea0;
    color: #fff;
    text-align: center;
    top: 0;
}

nav {
    display: block;
}

nav * {
    display: inline;
    margin-right: 2px;
}

nav.topbar {
    display: inline;
    opacity: 0.8;
    margin-top: -52px;
    position: fixed;
    width: 100%;
    height: 45px;
}

nav.topbar img {
    margin-top: 0px;
}

nav.topbar .text {
    display: inline;
    margin-top: 60px;
}

nav.topbar .basket {
    display: inline-block;
    height: auto;
    float: right;
    margin-right: 15px;
    line-height: 150%;
    color: #fff;
    border: 1px solid gray;
    height: 100%;
    background: #5f9ea0;
    border-radius: 10px 10px 10px 10px;
    padding-left: 7px;
    padding-right: 7px;
}

nav.topbar a {
    color: #fff;
    text-decoration: none;
}

div.sidebar .head {
    margin-top: 15%;
}

div.sidebar a {
    color: #fff;
    text-decoration: none;
}

div.sidebar a:hover {
    color: #aaa;
    text-decoration: none;
}

.header {
    width: 40%;
    margin: 50px auto 0px;
    color: #fff;
    background: #5f9ea0;
    text-align: center;
    border: 1px solid #b0c4de;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form,
.content {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
}

.prod_content {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.prod_content .prod_inner_cont {
    max-height: 0px;
    color: black;
    animation: fillDown 0.8s ease-in forwards;
}

@keyframes fillDown {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 600px;
    }
}

form#nostyle {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.prod input[type=text] {
    border: none;
    font-size: 120%;
}

th {
    text-align: center;
    width: 110px;
}

table input[type=text] {
    width: 100px;
    border: none;
    color: black;
    font-size: 16px;
}

input:disabled.inpdis {
    color: black;
}

th.id {
    text-align: center;
    width: 60px;
}


/*
    tr {
        border: 1px solid #fff;
        border-radius: 5px 5px 5px 5px;
        background: #5f9ea0;
        color: #fff;
    }
    */

td {
    text-align: right;
    display: table;
    margin-left: 15px;
    border-bottom: 1px solid gray;
    padding: 2px;
}

td.nostyle {
    border: none;
    border-bottom: none;
}

td.eerste {
    text-align: left;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.search-group {
    margin: 10px 0px 10px 0px;
    font-size: 80%;
}

.search-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.search-group input {
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.alert .lowonstock {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    color: black;
}

.alert {
    margin-right: 5px;
    width: 96%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    color: crimson;
}

.alert:hover .lowonstock {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.btn {
    height: 38px;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background: #5f9ea0;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.btn a {
    height: 38px;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    background: #5f9ea0;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.success {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #b0c4de;
    color: #fff;
    background: #5f9ea0;
    border-radius: 5px;
    text-align: left;
    animation: fadeOut 2s forwards;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.r_cont {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.result {
    margin-left: 5%;
    display: inline-block;
    width: 37%;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    height: 270px;
}

.product {
    width: auto;
    margin: 50px auto 0px;
    color: #fff;
    background: #5f9ea0;
    text-align: center;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

.product_ppage {
    width: 100%;
    margin: 50px auto 0px;
    color: #fff;
    background-color: #000;
    text-align: center;
    border-bottom: none;
    padding: 20px;
}

.prod {
    width: auto;
    text-align: center;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    padding: 20px;
    height: 50px;
}

.prijs {
    color: #fff;
    background: #5f9ea0;
    width: auto;
    text-align: center;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
}

.pr,
.pprijs {
    width: auto;
    text-align: center;
    border: 1px solid gray;
    border-top: none;
    margin-bottom: 5px;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}

.shopcart:hover {
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.image {
    margin-top: 8px;
}

.cont {
    width: auto;
    display: block;
}

.min,
.plus {
    display: inline;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
}

.min:hover,
.plus:hover {
    cursor: pointer;
}

#butcont {
    display: inline-block;
}

#buttons,
#buttons2 {
    display: inline;
}

.inp {
    width: 25%;
}

a.btn {
    text-decoration: none;
    font-size: 16px;
    padding: 3px;
}

.prod_image {
    margin-bottom: 15px;
    text-align: center;
}

.button {
    margin-top: 20px;
}

.instock {
    display: inline;
    max-width: 0px;
    transition: max-width 0.5 ease-out;
}

.st_cont {
    display: block;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}